h1 {
   font-family: $font-stack--reading-text2;
   font-weight: 700;
   font-size: 40px;
   padding: 50px;
   border: 90px double darken(blue, 60%);
   border-radius: 90px;
   border-style: hidden groove;
   border-color: $color--homedarkblue;
   text-align: center;
   text-decoration: line-through;
   text-decoration-style: solid;
   text-decoration-color: $color--homedarkblue;
   margin-bottom: 40px;
}

h2 {
   font-family: $font-stack--reading-text2;
   font-size: 18px;
   font-weight: 60;
   text-align: center;
   text-shadow: 7px -1px 5px rgba(150, 150, 150, .63);
   text-decoration: underline overline;
   margin-top: 90px;
}
