li {
   font-family: $font-stack--headings;
   border: 10px double $color--homelighterblue;
   line-height: 20px;
   text-align: center;
   padding: 10px;
   font-size: 20px;
   border-style: outset;
   margin-left: 30px;
   text-shadow: 1px 2px 3px #666;
}

li a:hover {
   border-color: transparent;
   font-size: 18px;
}

#contact li {
   font-family: $font-stack--headings;
   border: 10px double $color--contact--nude;
   line-height: 20px;
   text-align: center;
   padding: 10px;
   font-size: 20px;
   border-style: outset;
   margin-left: 30px;
   text-shadow: 1px 2px 3px #666;
}

#about li {
   font-family: $font-stack--headings;
   border: 10px double $color--about--grey;
   line-height: 20px;
   text-align: center;
   padding: 10px;
   font-size: 20px;
   border-style: outset;
   margin-left: 30px;
   text-shadow: 1px 2px 3px #666;
}

#artworks li {
   font-family: $font-stack--headings;
   border: 10px double $color--artworks--brown;
   line-height: 20px;
   text-align: center;
   padding: 10px;
   font-size: 20px;
   border-style: outset;
   margin-left: 30px;
   text-shadow: 1px 2px 3px #666;
}

ul {
   margin: 0;
   padding: 0;
}
