$font-stack--headings: 'Space Mono', sans-serif;
$font-stack--reading-text: 'Rubik', sans-serif;
$font-stack--reading-text2: 'Ibarra Real Nova',sans-serif;
$width--div: 100px;
$height--div: $width--div;
$rotation-in-degrees: 15deg;
$height--body: 40px;
$color--homedarkblue: #385273;
$color--homelightblue2:#7a9fbf;
$color--homelighterblue:#c2e0f2;
$color--about--red: #f21d2f;
$color--about--grey: #d9d9d9;
$color--about--tan: #bf9673;
