@import 'variables';
@import 'nav';
@import 'header';
@import 'id';

img {
   display: block;
   margin: 35px auto;
}

main p {
   text-align: justify;
   padding: 10px;
   width: 90%;
   margin: auto;
   line-height: 24px;
   font-weight: 700;
}

section {
   margin: auto;
   padding: 20px;
   display: flex;
   flex-direction: row;
}

nav {
   display: block;
   width: 100%;
}

img {
   margin-bottom: 20px;
}

header {
   padding: 10px 20px;
}
