@import 'variables';
@import 'nav';
@import 'header';
@import 'id';

img {
   display: block;
   margin: 20px auto;
}

main p {
   text-align: justify;
   padding: 10px;
   width: 90%;
   margin: auto;
   line-height: 24px;
   font-weight: 700;
}

section {
   margin: auto;
   padding: 20px;
   display: flex;
   flex-direction: row;
}

@media (max-width: 960px) {
   body {
      width: 720px; }
}
@media (max-width: 720px) {
   body {
      width: 400px; }
}
